      body {
            background-color: #c3e6cb; /* Yellow Green */
            font-family: Arial, sans-serif;


            }

        header {
            background-color: #218838; /* Darker Green */
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        

        nav {
            background-color: #28a745; /* Green */
            padding: 10px;
            text-align: center;
        }

    
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin: 0px 10px;
         /*   text-transform: uppercase;  Convert text to uppercase */
        }

        nav .dropdown {
            display: inline-block;
            position: relative;
        }

        nav .dropdown-content {
            display: none;
            position: absolute;
            background-color: #28a745; /* Green */
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
            text-align: left;
        }

        nav .dropdown:hover .dropdown-content {
            display: block;
        }

        nav .dropdown-content a {
            color: #fff;
            padding: 10px;
            display: block;
         /*   text-transform: uppercase; /* Convert text to uppercase */
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #1e7e34; /* Slightly Darker Green */
            color: #fff;
            text-align: center;
            padding: 10px;
            position: absolute;
                      width: 100%;
        }

        .slider {
            max-width: 100%;
            overflow: hidden;
        }

        .slider img {
            width: 100%;
            display: none;
        }

        .slider img.active {
            display: block;
        }

        .social-icons {
            margin-top: 20px;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;
            color: #fff;
        }
        
        